libuvccamera/build
libuvccamera/.cxx
uvc-core/libs
uvc-core/obj

demouvc/*.iml
demouvc/.gradle
demouvc/local.properties
demouvc/.idea/caches
demouvc/.idea/libraries
demouvc/.idea/modules.xml
demouvc/.idea/workspace.xml
demouvc/.idea/navEditor.xml
demouvc/.idea/assetWizardSettings.xml
.DS_Store
demouvc/build
demouvc/captures
demouvc/.externalNativeBuild
demouvc/.cxx