libuvccamera/build
libuvccamera/.cxx
uvc-core/libs
uvc-core/obj
.gradle/
*.iml
.cxx
build
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
libuvccamera/.idea
local.properties
libuvccamera/local.properties
libuvccamera/gradle
libuvccamera/gradlew
libuvccamera/gradlew.bat

demouvc/*.iml
demouvc/.gradle
demouvc/local.properties
demouvc/.idea/caches
demouvc/.idea/libraries
demouvc/.idea/modules.xml
demouvc/.idea/workspace.xml
demouvc/.idea/navEditor.xml
demouvc/.idea/assetWizardSettings.xml
.DS_Store
demouvc/build
demouvc/captures
demouvc/.externalNativeBuild
demouvc/.cxx